<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Users List</title>

</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="row">
    <div class="col-2">
        <a class="btn btn-primary d-block p-2 text-bg-primary" href="/admin" role="button" style="text-align: left">Admin</a>
        <a class="btn d-block p-2 text-bg-dark" href="/user" role="button" style="text-align: left">User</a>
        </div>
    <div class="col" style="background-color: whitesmoke">
        <div class="container text-center">
            <h1 style="text-align: left">Admin panel</h1>
            <div>

            <table class="table table-striped" style="margin-top: 100px">
                <thead>
                <tr>
                    <th style="text-align: left">All Users</th>

                </tr>
                </thead>
                <tr>
                    <th th:width="100">Id</th>
                    <th th:width="100">Name</th>
                    <th th:width="100">Login</th>
                    <th th:width="100">Password</th>
                    <th th:width="100">Role</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:width="100" th:utext="${user.getId()}"></td>
                    <td th:width="100" th:utext="${user.getUsername()}"></td>
                    <td th:width="100" th:utext="${user.getLogin()}"></td>
                    <td th:width="100" th:utext="${user.getPassword()}"></td>
                    <td th:width="100" th:each="role : ${user.getRoles()}" th:text="${role.name}"></td>
                </tr>
            </table>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Add to User List</h2>
            <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">

                <label for="username"></label>
                <label for="password"></label>
                <label for="login"></label>
                <table>
                    <tr>
                        <td><input type="text" th:field="*{username}" id="username"
                                   placeholder="Введите Имя пользователя"/></td>
                        <td><input type="password" th:field="*{password}" id="password" placeholder="Введите пароль "/>
                        </td>
                        <td><input type="text" th:field="*{login}" id="login" placeholder="Введите логин"/></td>
                    </tr>
                    <tr th:each="role : ${allRoles}">
                        <td>
                            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" id="'role_' + ${role.id}"/>
                            <label th:for="'role_' + ${role.id}" th:text="${role.name}"></label>
                        </td>
                    </tr>
                </table>
                <br>
                <input type="submit" value="Create!"/>
            </form>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Update User</h2>
            <form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
                <label for="id1"></label>
                <label for="name1"></label>
                <label for="password1"></label>
                <label for="login1"></label>
                <table>
                    <tr>
                        <td><input type="text" th:field="*{id}" id="id1" placeholder="Введите Id пользователя"/></td>
                        <td><input type="text" th:field="*{username}" id="name1"
                                   placeholder="Введите Имя пользователя"/></td>
                        <td><input type="password" th:field="*{password}" id="password1" placeholder="Введите пароль"/>
                        </td>
                        <td><input type="text" th:field="*{login}" id="login1" placeholder="Введите логин"/></td>
                    </tr>
                    <tr th:each="role : ${allRoles}">
                        <td>
                            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" id="'1role_' + ${role.id}"
                                   th:checked="${user.roles.contains(role)}"/>
                            <label th:for="'1role_' + ${role.id}" th:text="${role.name}"></label>
                        </td>
                    </tr>
                </table>
                <br>
                <input type="submit" value="Update!"/>
            </form>

            <br>
            <br>
            <br>
            <h2>AddRole to User</h2>
            <form th:method="POST" th:action="@{/admin/addRole}" th:object="${user}">
                <label for="userId">ID пользователя:</label>
                <input type="text" th:name="userId" id="userId" placeholder="Введите Id "/>

                <table>
                    <tr th:each="role : ${allRoles}">
                        <td>
                            <input type="checkbox" th:field="*{roles}" th:value="${role.id}"
                                   id="'role1_' + ${role.id}"/>
                            <label th:for="'role1_' + ${role.id}" th:text="${role.name}"></label>
                        </td>
                    </tr>
                </table>
                <br>
                <input type="submit" value="Добавить роль!"/>
            </form>
            <br>
            <div sec:authorize="isAuthenticated()">
                This content is only shown to authenticated users.
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                This content is only shown to administrators.
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
                This content is only shown to users.
            </div>
            <br>
            <h2>ID to Delete</h2>
            <form th:method="POST" th:action="@{/admin/delete}">
                <label for="idToDelete"></label>
                <input type="text" th:name="id" id="idToDelete" placeholder="Введите Id "/>
                <br>
                <input type="submit" value="Delete!"/>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>