<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title></title>

</head>

<body>
<!--NavBAR-->
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark navbar-dark " data-bs-theme="dark">
    <div class="container-fluid">
        <div sec:authorize="isAuthenticated()" style="color: white;">
            <div th:object="${userFromCH}">
                <span style=" font-weight: bold;"><td th:width="150" th:style="' font-weight='"
                                                      th:utext="${userFromCH.getEmail}"></td></span>
                <span> with roles:</span>
                <span><td th:width="100" th:each="role : ${userFromCH.getAuthorities()}"
                          th:text="${role.authority.substring(5)}"></td></span>
            </div>
        </div>
        <!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="padding-left: 1150px">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>

</nav>
<!--NavBar-->
<div class="row">
    <div class="col-2" style="border: 0; padding-right: 0">
        <a class="btn btn-primary d-block p-2 text-bg-primary" href="/admin" role="button" style="text-align: left">Admin</a>
        <a class="btn d-block p-2" href="/user" role="button" style="text-align: left">User</a>
    </div>
    <div class="col" style="background-color: whitesmoke">
        <h1 style="text-align: left">Admin panel</h1>


        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#listUsers">All Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#newUser">New User</a>
                </li>
            </ul>
            <div class="tab-content p-2">
                <div class="tab-pane fade show active" id="listUsers">


                    <table class="table table-striped" style="margin-top: 100px;width: fit-content">
                        <thead>
                        <tr>
                            <th style="text-align: left">All Users</th>

                        </tr>
                        </thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th colspan="2">Role</th>
                        </tr>
                        <tr th:each="userFromList : ${users}">
                            <td th:utext="${userFromList.id}"></td>
                            <td th:utext="${userFromList.firstname}"></td>
                            <td th:utext="${userFromList.lastname}"></td>
                            <td th:utext="${userFromList.age}"></td>
                            <td th:utext="${userFromList.email}"></td>
                            <td th:each="role : ${userFromList.getRoles()}" th:text="${role.name.substring(5)}"></td>
                            <td>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                        th:data-bs-target="${'#editModal' + userFromList.id}">
                                    Edit
                                </button>
                                <!-- Modal Edit-->
                                <div class="modal fade" th:id="${'editModal' + userFromList.id}" tabindex="-1"
                                     aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:method="PATCH" th:action="@{/admin/update}"
                                                      th:object="${userFromList}">
                                                    <div class="row d-flex justify-content-center input-group-sm text-center">
                                                        <label class="form-label mb-md-0 fw-bold"
                                                               for="idEdit">ID</label>
                                                        <input class="form-control w-50" th:value="${userFromList.id}"
                                                               th:name="id" type="number" placeholder readonly
                                                               id="idEdit">
                                                        <label class="form-label mb-md-0 fw-bold" for="firstnameEdit">First
                                                            Name</label>
                                                        <input class="form-control w-50"
                                                               th:value="${userFromList.firstname}" th:name="firstname"
                                                               type="text" placeholder id="firstnameEdit">
                                                        <label class="form-label mb-md-0 fw-bold" for="lastnameEdit">Last
                                                            Name</label>
                                                        <input class="form-control w-50"
                                                               th:value="${userFromList.lastname}" th:name="lastname"
                                                               type="text" placeholder id="lastnameEdit">
                                                        <label class="form-label mb-md-0 fw-bold"
                                                               for="ageEdit">Age</label>
                                                        <input class="form-control w-50" th:value="${userFromList.age}"
                                                               th:name="age" type="text" placeholder id="ageEdit">
                                                        <label class="form-label mb-md-0 fw-bold"
                                                               for="emailEdit">Email</label>
                                                        <input class="form-control w-50"
                                                               th:value="${userFromList.email}" th:name="email"
                                                               type="email" placeholder id="emailEdit">
                                                        <label class="form-label mb-md-0 fw-bold" for="passwordEdit">Password</label>
                                                        <input class="form-control w-50"
                                                               th:value="${userFromList.password}" th:name="password"
                                                               type="password" placeholder id="passwordEdit">
                                                        <label class="form-label mb-md-0 fw-bold"
                                                               for="idEdit">roleEdit</label>
<!--                                                        <select class="form-select w-50 mb-4" size="2"-->
<!--                                                                aria-label="size 2" multiple data-coreui-search="true"-->
<!--                                                                id="roleEdit" th:name="roles">-->
<!--                                                            <option value="ROLE_USER">USER</option>-->
<!--                                                            <option value="ROLE_ADMIN">ADMIN</option>-->
<!--                                                        </select>-->
                                                        <select class="form-select container-fluid text-center" size="2" th:name="roles"
                                                                aria-label="Выберите роли" style="width: fit-content" multiple>
                                                            <option th:each="role : ${allRoles}"
                                                                    th:value="${role.id}"
                                                                    th:text="${role.name}"></option>
                                                        </select>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:data-bs-target="${'#deleteModal' + userFromList.id}">
                                Delete
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" th:id="${'deleteModal' + userFromList.id}" tabindex="-1" aria-labelledby="deleteModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete user</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <form th:method="POST" th:action="@{/admin/delete}" th:object="${userFromList}">
                                                <div class="row d-flex justify-content-center input-group-sm text-center">
                                                    <label class="form-label mb-md-0 fw-bold"
                                                           for="idDelete">ID</label>
                                                    <input class="form-control w-50" th:value="${userFromList.id}"
                                                           th:name="id" type="number" placeholder readonly
                                                           id="idDelete">
                                                    <label class="form-label mb-md-0 fw-bold" for="firstnameDelete">First
                                                        Name</label>
                                                    <input class="form-control w-50"
                                                           th:value="${userFromList.firstname}"
                                                           type="text" placeholder readonly id="firstnameDelete">
                                                    <label class="form-label mb-md-0 fw-bold" for="lastnameDelete">Last
                                                        Name</label>
                                                    <input class="form-control w-50"
                                                           th:value="${userFromList.lastname}"
                                                           type="text" placeholder readonly id="lastnameDelete">
                                                    <label class="form-label mb-md-0 fw-bold"
                                                           for="ageDelete">Age</label>
                                                    <input class="form-control w-50" th:value="${userFromList.age}"
                                                            type="text" placeholder readonly id="ageDelete">
                                                    <label class="form-label mb-md-0 fw-bold"
                                                           for="emailDelete">Email</label>
                                                    <input class="form-control w-50"
                                                           th:value="${userFromList.email}"
                                                           type="email" placeholder readonly id="emailDelete">
                                                    <label class="form-label mb-md-0 fw-bold"
                                                           for="idDelete">roleDelete</label>
                                                    <select class="form-select w-50 mb-4" size="2"
                                                            disabled="disabled" aria-label="size 2" multiple data-coreui-search="true"
                                                            id="roleDelete" >
                                                        <option value="ROLE_USER">USER</option>
                                                        <option value="ROLE_ADMIN">ADMIN</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="newUser">
                    <h2>Add to User List</h2>
                    <div class="container-fluid text-center">
                        <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">

                            <label for="username"></label>
                            <label for="lastname"></label>
                            <label for="email"></label>
                            <label for="age"></label>
                            <label for="password"></label>

                            <table class="table table-borderless ">
                                <thead>
                                <tr>
                                    <th style="text-align: left">Add new user</th>

                                </tr>
                                </thead>
                                <tr>
                                    <th>First Name</th>
                                </tr>
                                <tr>
                                    <td><input type="text" th:field="*{firstname}" id="username"
                                               placeholder="Введите Имя пользователя"/></td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                </tr>
                                <tr>
                                    <td><input type="text" th:field="*{lastname}" id="lastname"
                                               placeholder="Введите фамилию пользователя"/></td>
                                </tr>
                                <tr>
                                    <th>Age</th>
                                </tr>
                                <tr>
                                    <td><input type="text" th:field="*{age}" id="age"
                                               placeholder="Введите возраст пользователя"/></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                </tr>
                                <tr>
                                    <td><input type="text" th:field="*{email}" id="email"
                                               placeholder="Введите почту/логин"/></td>
                                </tr>
                                <tr>
                                    <th>Password</th>
                                </tr>
                                <tr>
                                    <td><input type="password" th:field="*{password}" id="password"
                                               placeholder="Введите пароль "/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Role</th>
                                </tr>
                            </table>
                            <select class="form-select container-fluid text-center" size="2" th:field="*{roles}"
                                    aria-label="Выберите роли" style="width: fit-content">
                                <option th:each="role : ${allRoles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}"></option>
                            </select>
                            <br>
                            <input type="submit" value="Create!"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>

</html>