<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
<h1>List of Users</h1>

    <h4><a href="/logout">Выйти</a></h4>

<table>
    <tr>
        <th th:width="100" >Id</th>
        <th th:width="100" >Name</th>
        <th th:width="100" >Login</th>
        <th th:width="100" >Password</th>
        <th th:width="100" >Role</th>
    </tr>
    <tr th:each = "user : ${users}">
        <td th:width="100" th:utext="${user.getId()}"></td>
        <td th:width="100" th:utext="${user.getUsername()}"></td>
        <td th:width="100" th:utext="${user.getLogin()}"></td>
        <td th:width="100" th:utext="${user.getPassword()}"></td>
        <td th:width="100" th:each="role : ${user.getRoles()}" th:text="${role.name}"></td>
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<h2>Add to User List</h2>
<table>
    <tr>
        <th th:width="200">Enter name:</th>
        <th th:width="180">Enter password:</th>
        <th th:width="180">Enter login:</th>
    </tr>
</table>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">

    <label for="name"></label>
    <label for="password"></label>
    <label for="login"></label>
    <input type="text" th:field="*{username}" id="name" />
    <input type="text" th:field="*{password}" id="password" />
    <input type="text" th:field="*{login}" id="login" />
    <select th:name="role">
        <option value="2">User</option>
        <option value="1">Admin</option>
    </select>
    <br>
    <input type="submit" value="Create!" />
</form>
<br>
<br>
<br>
<br>
<br>
<h2>Update User</h2>
<table>
    <tr>
        <th th:width="200">Enter ID:</th>
        <th th:width="200">Enter name:</th>
        <th th:width="180">Enter password:</th>
        <th th:width="180">Enter login:</th>

    </tr>
</table>
<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <label for="id1"></label>
    <label for="name1"></label>
    <label for="password1"></label>
    <label for="login1"></label>
    <input type="text" th:field="*{id}" id="id1" />
    <input type="text" th:field="*{username}" id="name1" />
    <input type="text" th:field="*{password}" id="password1" />
    <input type="text" th:field="*{login}" id="login1" />
    <select th:name="role1">
        <option value="2">User</option>
        <option value="1">Admin</option>
    </select>
    <br>
    <input type="submit" value="Update!" />
</form>

<br>
<br>
<br>
<form th:method="POST" th:action="@{/admin/addRole}" >
    <label for="userId"></label>
    <input type="text" th:name="userId" id="userId" />
    <select th:name="roleId">
        <option value="2">User</option>
        <option value="1">Admin</option>
    </select>
    <br>
    <input type="submit" value="addRole!" />
</form>
<br>
<br>
<h2>ID to Delete</h2>
<form th:method="POST" th:action="@{/admin/delete}" >
    <label for="idToDelete"></label>
    <input type="text" th:name="id" id="idToDelete" />
    <br>
    <input type="submit" value="Delete!" />
</form>
</body>

</html>