<h2>Add to User List</h2>
<div class="container-fluid text-center" th:fragment="create">
    <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">

        <label for="username"></label>
        <label for="lastname"></label>
        <label for="email"></label>
        <label for="age"></label>
        <label for="password"></label>

        <table class="table table-borderless ">
            <thead>
            <tr>
                <th style="text-align: left">Add new user</th>

            </tr>
            </thead>
            <tr>
                <th>First Name</th>
            </tr>
            <tr>
                <td><input type="text" th:field="*{firstname}" id="username"
                           placeholder="Введите Имя пользователя"/></td>
            </tr>
            <tr>
                <th>Last Name</th>
            </tr>
            <tr>
                <td><input type="text" th:field="*{lastname}" id="lastname"
                           placeholder="Введите фамилию пользователя"/></td>
            </tr>
            <tr>
                <th>Age</th>
            </tr>
            <tr>
                <td><input type="text" th:field="*{age}" id="age"
                           placeholder="Введите возраст пользователя"/></td>
            </tr>
            <tr>
                <th>Email</th>
            </tr>
            <tr>
                <td><input type="text" th:field="*{email}" id="email" placeholder="Введите почту/логин"/></td>
            </tr>
            <tr>
                <th>Password</th>
            </tr>
            <tr>
                <td><input type="password" th:field="*{password}" id="password" placeholder="Введите пароль "/>
                </td>
            </tr>
            <tr>
                <th>Role</th>
            </tr>
<!--            <tr th:each="role : ${allRoles}">-->
<!--                <td>-->
<!--                    <input type="checkbox" th:field="*{roles}" th:value="${role.id}" id="'role_' + ${role.id}"/>-->
<!--                    <label th:for="'role_' + ${role.id}" th:text="${role.name}"></label>-->
<!--                </td>-->
<!--            </tr>-->
        </table>
        <select class="form-select container-fluid text-center" size="2" th:field="*{roles}" aria-label="Выберите роли" style="width: fit-content">
            <option th:each="role : ${allRoles}"
                    th:value="${role.id}"
                    th:text="${role.name}"></option>
        </select>
        <br>
        <input type="submit" value="Create!"/>
    </form>
</div>