<div th:fragment="delete">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Delete
</button>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Edit user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>ID to Delete</h2>
                <form th:method="POST" th:action="@{/admin/delete}">
                    <label for="idToDelete"></label>
                    <input type="text" th:name="id" id="idToDelete" placeholder="Введите Id "/>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>