<div th:fragment="edit">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
    Edit
</button>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
                    <label for="id1"></label>
                    <label for="firstname1"></label>
                    <label for="lastname1"></label>
                    <label for="email1"></label>
                    <label for="age1"></label>
                    <label for="password1"></label>
                    <div class="container-fluid text-center">
                        <table class="table  table-borderless">

                            <tr>
                                <th>ID</th>
                            </tr>
                            <tr>
                                <td><input type="text" th:field="*{id}" id="id1"
                                           placeholder="Введите Id пользователя"/></td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                            </tr>
                            <tr>

                                <td><input type="text" th:field="*{firstname}" id="firstname1"
                                           placeholder="Введите Имя пользователя"/></td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                            </tr>
                            <tr>

                                <td><input type="text" th:field="*{lastname}" id="lastname1"
                                           placeholder="Введите фамилию пользователя"/></td>
                            </tr>
                            <tr>
                                <th>Age</th>
                            </tr>
                            <tr>

                                <td><input type="text" th:field="*{age}" id="age1"
                                           placeholder="Введите возраст пользователя"/></td>
                            </tr>
                            <tr>
                                <th>Password</th>
                            </tr>
                            <tr>

                                <td><input type="password" th:field="*{password}" id="password1"
                                           placeholder="Введите пароль"/></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                            </tr>
                            <tr>

                                <td><input type="text" th:field="*{email}" id="email1"
                                           placeholder="Введите почту/логин"/></td>
                            </tr>
                            <tr>
                                <th>Role</th>
                            </tr>
                            <tr th:each="role : ${allRoles}">

                                <td>
                                    <input type="checkbox" th:field="*{roles}" th:value="${role.id}"
                                           id="'1role_' + ${role.id}"
                                           th:checked="${user.roles.contains(role)}"/>
                                    <label th:for="'1role_' + ${role.id}" th:text="${role.name}"></label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>