<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>UserInfo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/style.css">
</head>
<body>
<div>
    <h2>User INFO</h2>

<table>
    <tr>
        <th th:width="100" >ROLE</th>
        <th th:width="150" >USERNAME</th>
        <th th:width="100" >Password</th>
    </tr>
    <tr th:object= "${user}">
        <td th:width="100" th:each="role : ${user.getAuthorities()}" th:text="${role.authority}"></td>
        <td th:width="150" th:utext="${user.getUsername()}"></td>
        <td th:width="100" th:utext="${user.getPassword()}"></td>
    </tr>
</table>

        <h4><a href="/logout">Выйти</a></h4>

</div>
</body>
</html>